
*.xcbkptlist

*.xcuserstate

*.xcbkptlist

Tripper/Tripper.xcworkspace/xcuserdata/slee8.xcuserdatad/UserInterfaceState.xcuserstate

Tripper/.DS_Store

Tripper/.DS_Store

Tripper/Tripper.xcworkspace/xcuserdata/slee8.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
